{% extends "base.html" %}
{% block title %} Inicio  {% endblock title %}

{% block background %}{% load static %}{% static 'img/logito-bg.jpg' %}{% endblock %}

{% block headers %}  <h1><font face="Comic Sans MS,Arial,Verdana">Bienvenido</font></h1> {% endblock %}

{% block content %}
    <h3><div class="text text-center"><font face="Comic Sans MS,Arial,Verdana">"Muchos de nosotros somos más capaces que algunos de nosotros, pero ninguno de nosotros somos tan capaces como todos nosotros"</div></font></h3>
    <h3><div class="text text-center"><u><font color="red">SERVICIOS</font></u></div> </h3>
    <h2><div class="text-justify"><small><p><font face="Comic Sans MS,Arial,Verdana">Ofrecemos Servicio de reparación, mantenimiento e instalación de Aire Acondicionado Automotriz para todas las marcas de vehículos del mercado tanto de gasolina como diésel.
    El taller de Servicio de reparación y mantenimiento de aire acondicionado automotriz Tecnicentro Alaska con 35 años de experiencia en el mercado se encuentra dotado de la infraestructura necesaria y mano de obra calificada para garantizar la mejor calidad en los trabajos en el menor tiempo posible tanto para vehículos y camiones en general.</font></p></small></div> </h2>
    <h3><div class="text text-center"><u><font color="red">SOMOS ESPECIALISTAS EN...</font></u></div> </h3>
    <h2><div class="text-justify"><small><p><font face="Comic Sans MS,Arial,Verdana">Servicio exclusivo de aire acondicionado para vehículos.</font></p></small></div> </h2>
    <h2><div class="text-justify "><small><p><font face="Comic Sans MS,Arial,Verdana">~Reparación, instalación, mantenimiento, cambio de repuestos para su aire acondicionado.</font></p></small></div> </h2>
    <h2><div class="text-justify"><small><p><font face="Comic Sans MS,Arial,Verdana">~Trabajamos con una gran variedad de repuestos y accesorios del mercado.</font></p></small></div> </h2>
    <h2><div class="text-justify"><small><p><font face="Comic Sans MS,Arial,Verdana">~Trabajamos con todas las marcas de vehículos del mercado.</font></p></small></div> </h2>
    <h2><div class="text-justify"><small><p><font face="Comic Sans MS,Arial,Verdana">~Cotice con nosotros, tenemos los mejores precios acorde al mercado.</font></p></small></div> </h2>
    <h3><div class="text text-center"><u><font color="red">META</font></u></div> </h3>
    <h3><div class="text text-justifyr"><small><p><font face="Comic Sans MS,Arial,Verdana">Tecnicentro Alaska le brinda el mejor de los servicios a costos razonables y ajustables a su presupuesto.</font></p></small></div></h3>
    <h3><div class="text text-justify"><small><p><font face="Comic Sans MS,Arial,Verdana">Siempre con toda nuestra clientela demostrando cumplimiento, responsabilidad y compromisos adquiridos al ofrecer un Servicio de Calidad.</font></p></small></div></h3>
{% endblock %}